@media (max-width:1480px) {
    .background {
        width: 1200px;
    }
}

@media (max-width:1245px) {
    .background {
        width: 1000px;
    }
}

@media (max-width:1024px) {
    .background {
        width: 800px;
        height: 570px;
    }
}

@media (max-width:840px) {
    .background {
        width: 600px;
    }
}

@media (max-width:645px) {
    .background {
        width: 412px;
    }
}

@media (max-width:430px) {
    .background {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:375px) {
    .background {
        width: 375px;
        height: 100vh   ;
    }
}

@media (max-width: 372px) {
    .background {
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width:300px) {
    .image {
        width: 182px;
    }
    
    .element {
        gap: 15px;
        padding: 10px;
    }

    .element-text h1, p {
        width: 180px;
    }

    .element-text h1 {
        font-size: 16px;
    }

    .element-text p {
        font-size: 14px;
    }
}